<div data-ng-show="loading" style="width: 300px">
    <div class="alert alert-info">
        <img src="~/Content/Images/ProgressIndicator.gif" style="margin-right: 20px;" />@Resources.Language.Load_Text
    </div>
</div>